<section
    class="flex flex-col sm:grid sm:grid-cols-12 gap-[30px] w-[calc(100vw-50px)] sm:w-full pl-[10px] pr-[10px] sm:pl-5 sm:pr-5 pb-8 pt-16">
    <!-- Summary Card, Ex: Balance, Payments, Earnings and Saving Target -->
    <app-summary-card class="sm:col-span-6 lg:col-span-3" [text]="'Total Balance'" [value]="0" img="wallet"
        imgColor="primaryDark"></app-summary-card>
    <app-summary-card class="sm:col-span-6 lg:col-span-3" [text]="'Total Earnings (Monthly)'" [value]="0" img="payments"
        imgColor="green"></app-summary-card>
    <app-summary-card class="sm:col-span-6 lg:col-span-3" [text]="'Total Payments (Monthly)'" [value]="0"
        img="credit_card" imgColor="red"></app-summary-card>
    <app-summary-card class="sm:col-span-6 lg:col-span-3" [text]="'Savings Target'" [value]="0" img="savings"
        imgColor="primary"></app-summary-card>
    <!-- Graphics -->
    <app-pie-chart class="sm:col-span-12 lg:col-span-4" [pieData]="pieData"></app-pie-chart>
    <app-line-chart class="sm:col-span-12 lg:col-span-8" [lineData]="lineData"></app-line-chart>
    <!-- List of Payments and Earnings -->
    <app-items-list class="sm:col-span-12"></app-items-list>
</section>