<div class="fixed h-full w-full top-0 left-0 bg-[#00000033] duration-300 flex justify-center items-center p-3 sm:p-0 z-50"
    [ngClass]="isShow == false ? 'hidden' : ''">
    <div
        class="bg-colorSurface dark:bg-colorSurfaceDark p-8 relative flex flex-col items-center gap-6 rounded-md text-colorText dark:text-colorTextDark h-full w-full sm:h-auto sm:w-auto overflow-y-auto sm:overflow-hidden">
        <span class="material-icons absolute cursor-pointer top-[5%] right-[5%] text-3"
            (click)="handleClosePopup()">close</span>
        <h3 class="w-full font-bold text-2xl">New Transaction</h3>
        <div class="relative self-start">
            <div class="flex gap-1 items-center h-[50px] w-[150px] pl-3 pr-3 justify-between cursor-pointer rounded-md duration-300 mt-2 mb-2"
                (click)="handleOpenTypeDropdown()" #typeDropdown
                [ngClass]="typeDropdownValue == 'EARNING' ? 'bg-[#10b98166] dark:bg-[#25531c65] text-[#089D29]' : 'bg-[#ff00009a] dark:bg-[#791c1c75] text-[#9d0808] dark:text-[#e04949]'">
                <span class="font-semibold text-lg">{{typeDropdownValue}}</span>
                <span class="material-icons duration-300" [ngClass]="isTypeDropdownOpen ? 'rotate-[-180deg]' : 
                ''">expand_more</span>
            </div>
            <span
                class="material-icons text-colorBg dark:text-colorBgDark text-[40px] absolute top-[32px] right-[0px]  duration-300"
                [ngClass]="[isTypeDropdownHovering ? 'text-primaryDark dark:text-primaryDark' : '', isTypeDropdownOpen ? 'opacity-100 pointer-events-auto' : 'opacity-0 pointer-events-none']">arrow_drop_up</span>
            <div class="absolute top-[54px] right-[0px] flex flex-col bg-colorBg text-colorText dark:text-colorTextDark dark:bg-colorBgDark w-[130px] rounded-md dark:shadow-customDark shadow-custom transition-opacity duration-350"
                [ngClass]="isTypeDropdownOpen ? 'opacity-100 pointer-events-auto' : 'opacity-0 pointer-events-none'">
                <span
                    class="text-center w-full hover:cursor-pointer hover:bg-primaryDark hover:text-colorSurface duration-300 pt-3 pb-3 rounded-t-md border-b-[1px] dark:border-[#FFFFFF11] border-[#00000011] border-solid"
                    (mouseenter)="isTypeDropdownHovering = true" (mouseleave)="isTypeDropdownHovering = false"
                    (click)="handleSelectTypeDropdown('EARNING')">Earning</span>
                <span
                    class="text-center w-full hover:cursor-pointer hover:bg-primaryDark hover:text-colorSurface duration-300 pt-3 pb-3 rounded-b-md border-b-[1px] dark:border-[#FFFFFF11] border-[#00000011] border-solid"
                    (click)="handleSelectTypeDropdown('PAYMENTS')">Payments</span>
            </div>
        </div>
        <div class="flex flex-col sm:grid gap-x-8 gap-y-6 w-full max-w-[400px] sm:max-w-none" [ngStyle]="{'grid-template-areas': `
        'a c'
        'b d'
        'e d'
        `
        }">
            <div class="flex flex-col gap-2 w-full" [ngStyle]="{'grid-area': 'a'}">
                <span class="font-semibold text-sm">Name</span>
                <input type="text"
                    class="ml-1 outline-none text-[15px] placeholder:text-[.9rem] placeholder:font-semibold bg-colorBg dark:bg-colorBgDark text-colorText dark:text-colorBg pb-[.7rem] pr-[.8rem] pt-[.7rem] pl-[.8rem] rounded-md sm:min-w-[250px] max-w-[400px] w-full sm:w-auto sm:max-w-none"
                    [(ngModel)]="name" />
            </div>
            <div class="flex flex-col gap-2" [ngStyle]="{'grid-area': 'b'}">
                <span class="font-semibold text-sm" [(ngModel)]="value">Value</span>
                <input type="text"
                    class="ml-1 outline-none text-[15px] placeholder:text-[.9rem] placeholder:font-semibold bg-colorBg dark:bg-colorBgDark text-colorText dark:text-colorBg pb-[.7rem] pr-[.8rem] pt-[.7rem] pl-[.8rem] rounded-md sm:min-w-[250px] max-w-[400px] w-full sm:w-auto sm:max-w-none" />
            </div>
            <div class="flex flex-col gap-2" [ngStyle]="{'grid-area': 'c'}">
                <span class="font-semibold text-sm">Category</span>
                <div class="relative">
                    <div class="flex justify-between  ml-1 text-[15px] placeholder:text-[.9rem] placeholder:font-semibold bg-colorBg dark:bg-colorBgDark text-colorText dark:text-colorBg pb-[.7rem] pr-[.8rem] pt-[.7rem] pl-[.8rem] rounded-md sm:min-w-[250px] max-w-[400px] w-full sm:w-auto sm:max-w-none hover:cursor-pointer"
                        (click)="handleOpenCategoryDropdown()" #categoryDropdown>
                        <span>{{category}}</span>
                        <span class="material-icons duration-300"
                            [ngClass]="isCategoryDropdownOpen == true ? 'rotate-[-180deg]' : ''">expand_more</span>
                    </div>
                    <span
                        class="material-icons text-colorBg dark:text-colorBgDark text-[40px] absolute top-[38px] left-[0px]  duration-300"
                        [ngClass]="[isCategoryHovering ? 'text-primaryDark dark:text-primaryDark' : '', isCategoryDropdownOpen ? 'opacity-100 pointer-events-auto' : 'opacity-0 pointer-events-none']">arrow_drop_up</span>
                    <div class=" absolute top-[60px] left-[0px] flex flex-col bg-colorBg text-colorText dark:text-colorTextDark dark:bg-colorBgDark sm:min-w-[250px] max-w-[400px] w-full sm:w-auto sm:max-w-none rounded-md dark:shadow-customDark shadow-custom transition-opacity duration-350"
                        [ngClass]="isCategoryDropdownOpen ? 'opacity-100 pointer-events-auto' : 'opacity-0 pointer-events-none'">
                        <span
                            class="text-center w-full hover:cursor-pointer hover:bg-primaryDark hover:text-colorSurface duration-300 pt-3 pb-3 rounded-t-md border-b-[1px] dark:border-[#FFFFFF11] border-[#00000011] border-solid"
                            (mouseenter)="isCategoryHovering = true" (mouseleave)="isCategoryHovering = false"
                            (click)="isCategoryDropdownOpen = false; category = 'Item 1'">Item 1</span>
                        <span
                            class="text-center w-full hover:cursor-pointer hover:bg-primaryDark hover:text-colorSurface duration-300 pt-3 pb-3 rounded-b-md border-b-[1px] dark:border-[#FFFFFF11] border-[#00000011] border-solid"
                            (click)="isCategoryDropdownOpen = false; category = 'Item 2'">Item 2</span>
                    </div>
                </div>
            </div>
            <div class="flex flex-col gap-2" [ngStyle]="{'grid-area': 'd'}">
                <span class="font-semibold text-sm">Description</span>
                <textarea
                    class="sm:min-w-[250px] max-w-[400px] w-full sm:w-auto sm:max-w-none ml-1 outline-none text-[15px] placeholder:text-[.9rem] placeholder:font-semibold bg-colorBg dark:bg-colorBgDark text-colorText dark:text-colorBg pb-[.7rem] pr-[.8rem] pt-[.7rem] pl-[.8rem] rounded-md resize-none h-full"
                    [(ngModel)]="description"></textarea>
            </div>
            <div class=" flex flex-col gap-6" [ngStyle]=" {'grid-area': 'e' }">
                <div class="flex gap-2 cursor-pointer w-fit" (click)="isRecurrent = !isRecurrent">
                    <div class="w-[25px] h-[25px] border-[2px] border-solid border-[#0000005d] dark:border-[#ffffffa6] rounded-md"
                        [ngClass]="isRecurrent == true ? 'border-none bg-primaryDark' : ''">
                    </div>
                    <span>Should it be recurring?</span>
                </div>
                <div class="duration-100 flex flex-col gap-2"
                    [ngClass]="isRecurrent == true ? 'opacity-100' : 'opacity-0'">
                    <span class="font-semibold text-sm">Date</span>
                    <input type="date" id="date"
                        class="ml-1 outline-none text-[15px] placeholder:text-[.9rem] placeholder:font-semibold bg-colorBg dark:bg-colorBgDark text-colorText dark:text-colorBg pb-[.7rem] pr-[.8rem] pt-[.7rem] pl-[.8rem] rounded-md w-fit cursor-text"
                        #dateInput (dblclick)="openDatePicker($event)" [(ngModel)]="date" />
                </div>
            </div>
        </div>
        <div
            class="flex min-h-[55px] sm:min-h-0 w-[150px] h-[55px] gap-1 items-center justify-center text-colorSurface rounded-md cursor-pointer  duration-300 bg-primaryDark dark:bg-primaryThemeDark dark:hover:bg-primaryDarkThemeDark hover:bg-primaryThemeDark mt-8">
            <span>Add Transaction</span>
        </div>
    </div>
</div>