<main class="h-[100vh] w-[100vw] flex justify-center items-center bg-primary relative text-colorText">
    <div class="w-[90%] h-[90%] flex shadow-register bg-primaryDark">
        <div class="w-[50%] flex justify-center items-center">
            <img src="register.svg" alt="register-igm" class="w-[80%]">
        </div>
        <div class="w-[50%] bg-colorSurface flex flex-col items-center justify-between gap-6 p-8">
            <h3 class="font-bold text-3xl text-center">Create an Account</h3>
            <div class="rounded-full flex justify-center items-center relative w-[130px] h-[130px]">
                <!-- <img src="" alt="image" class="w-full object-cover rounded-full"> -->
                <span (click)="avatar.click()"
                    class="rounded-sm flex justify-center items-center text-colorSurface bg-primaryDark hover:bg-primaryThemeDark duration-300 w-[120px] h-[40px] cursor-pointer">Add
                    a Image</span>
                <input type="file" #avatar hidden class="absolute" />
            </div>
            <div class="grid grid-cols-2 w-full gap-6">
                <div class="flex flex-col gap-2">
                    <span class="text-sm font-semibold ml-2">Name</span>
                    <input type="text"
                        class="outline-none text-[15px] placeholder:text-[.9rem] placeholder:font-semibold bg-colorBg dark:bg-colorBgDark text-colorText dark:text-colorBg pb-[.6rem] pr-[.8rem] pt-[.6rem] pl-[.8rem] rounded-md cursor-text duration-300"
                        [(ngModel)]="name">
                </div>
                <div class="flex flex-col gap-2">
                    <span class="text-sm font-semibold ml-2">Phone Number</span>
                    <input type="text"
                        class="outline-none text-[15px] placeholder:text-[.9rem] placeholder:font-semibold bg-colorBg dark:bg-colorBgDark text-colorText dark:text-colorBg pb-[.6rem] pr-[.8rem] pt-[.6rem] pl-[.8rem] rounded-md cursor-text duration-300"
                        [(ngModel)]="phoneNumber">
                </div>
                <div class="flex flex-col gap-2 w-full col-span-2">
                    <span class="text-sm font-semibold ml-2">Email</span>
                    <input type="email"
                        class="outline-none text-[15px] placeholder:text-[.9rem] placeholder:font-semibold bg-colorBg dark:bg-colorBgDark pb-[.6rem] pr-[.8rem] pt-[.6rem] pl-[.8rem] rounded-md w-full cursor-text duration-300"
                        [(ngModel)]="email">
                </div>
                <div class="flex flex-col gap-2">
                    <span class="text-sm font-semibold ml-2">Password</span>
                    <input type="password"
                        class="outline-none text-[15px] placeholder:text-[.9rem] placeholder:font-semibold bg-colorBg dark:bg-colorBgDark text-colorText dark:text-colorBg pb-[.6rem] pr-[.8rem] pt-[.6rem] pl-[.8rem] rounded-md cursor-text duration-300"
                        [(ngModel)]="password">
                </div>
                <div class="flex flex-col gap-2">
                    <span class="text-sm font-semibold ml-2">Confirm Password</span>
                    <input type="password"
                        class="outline-none text-[15px] placeholder:text-[.9rem] placeholder:font-semibold bg-colorBg dark:bg-colorBgDark text-colorText dark:text-colorBg pb-[.6rem] pr-[.8rem] pt-[.6rem] pl-[.8rem] rounded-md cursor-text duration-300"
                        [(ngModel)]="confirmPassword">
                </div>
            </div>
            <div class="flex flex-col items-center justify-center gap-6 mt-6 mb-6">
                <div
                    class="rounded-md flex justify-center items-center text-colorSurface bg-primaryDark hover:bg-primaryThemeDark duration-300 w-[140px] h-[50px] font-semibold cursor-pointer">
                    Create Account
                </div>
                <span class="font-bold">OR</span>
                <div
                    class="flex items-center justify-center gap-4 border-solid border-[2px] h-[65px] w-[230px] rounded-[240px] border-primaryDark duration-300 cursor-pointer">
                    <img src="google.png" alt="google" class="w-[36px] h-[36px]">
                    <span class="">Sign
                        in With Google</span>
                </div>
            </div>
            <span>Already Have an Account? <a [routerLink]="['/login']"
                    class="text-primaryDark font-semibold hover:underline decoration-primaryDark decoration-[1px]">Login</a></span>
        </div>
    </div>
</main>