<div
    class="flex flex-col gap-4 items-center w-full dark:shadow-boxDark shadow-box rounded-md bg-colorSurface dark:bg-colorSurfaceDark pl-6 pr-6 pt-5 pb-5">
    <div class="flex justify-between items-center w-full">
        <div class="flex gap-5">
            <div
                class="w-[300px] flex rounded-md border-solid border-[2px] border-[#0000001a] dark:border-[#ffffff34] items-center pl-2">
                <span class="material-icons-outlined text-[#00000088] dark:text-[#ffffffa1] text-1xl">search</span>
                <input type="text" placeholder="Search Items"
                    class="outline-none w-full text-[15px] placeholder:text-[.9rem] placeholder:font-semibold bg-transparent text-colorText dark:text-colorTextDark p-[.8rem]" />
            </div>
            <div
                class="flex gap-1 h-full items-center border-solid border-[2px] border-[#0000001a] dark:border-[#ffffff34] rounded-md pt-[.8rem] pb-[.8rem] pl-[.7rem] pr-[.7rem] cursor-pointer hidden">
                <span class="material-icons-outlined text-[#000000c4] dark:text-[#ffffffbd] text-1xl">filter_alt</span>
                <span class="text-colorText dark:text-colorTextDark font-semibold text-sm">Filter</span>
            </div>
        </div>
        <div class="flex gap-5">
            <div class="flex relative">
                <div class="flex w-[130px] h-[50px] gap-1 items-center justify-center border-[2px] border-solid border-primaryDark dark:border-primaryDark rounded-md cursor-pointer hover:bg-primaryDark text-primaryDark hover:text-colorSurface duration-300"
                    (click)="handleShowExportDropdown()" #exportDropdown>
                    <span class="text-inherit font-semibold  text-[.9rem]">Export</span>
                    <span class="material-icons-outlined text-inherit text-xl transition-transform duration-300"
                        [ngClass]="isExportDropdownOpen ? 'rotate-[-180deg]' : ''">expand_more</span>
                </div>
                <span
                    class="material-icons text-colorBg dark:text-colorBgDark text-[40px] absolute top-[44px] right-[0px] duration-300"
                    [ngClass]="[isExportDropdownHovering ? 'text-primaryDark dark:text-primaryDark' : '', isExportDropdownOpen ? 'opacity-100 pointer-events-auto' : 'opacity-0 pointer-events-none']">arrow_drop_up</span>
                <div class="absolute top-[66px] right-[0px] flex flex-col bg-colorBg text-colorText dark:text-colorTextDark dark:bg-colorBgDark w-[130px] rounded-md dark:shadow-customDark shadow-custom transition-opacity duration-350"
                    id="exportDropdown"
                    [ngClass]="isExportDropdownOpen ? 'opacity-100 pointer-events-auto' : 'opacity-0 pointer-events-none'">
                    <span
                        class="text-center w-full hover:cursor-pointer hover:bg-primaryDark hover:text-colorSurface duration-300 pt-3 pb-3 rounded-t-md border-b-[1px] dark:border-[#FFFFFF11] border-[#00000011] border-solid text-[.9rem] font-semibold"
                        (mouseenter)="isExportDropdownHovering = true" (mouseleave)="isExportDropdownHovering = false"
                        (click)="isExportDropdownOpen = false">PDF</span>
                    <span
                        class="text-center w-full hover:cursor-pointer hover:bg-primaryDark hover:text-colorSurface duration-300 pt-3 pb-3  border-b-[1px] dark:border-[#FFFFFF11] border-[#00000011] border-solid text-[.9rem] font-semibold"
                        (click)="isExportDropdownOpen = false">XSLX</span>
                    <span
                        class="text-center w-full hover:cursor-pointer hover:bg-primaryDark hover:text-colorSurface duration-300 pt-3 pb-3 rounded-b-md border-b-[1px] dark:border-[#FFFFFF11] border-[#00000011] border-solid text-[.9rem] font-semibold"
                        (click)="isExportDropdownOpen = false">PNG</span>
                </div>
            </div>
            <div
                class="flex w-[130px] h-[50px] items-center justify-center border-2px border-solid bg-primaryDark  rounded-md cursor-pointer  duration-300 hover:bg-primaryThemeDark">
                <span class="text-colorSurface text-[.9rem] font-semibold">New Earning</span>
            </div>
        </div>
    </div>
    <div class="w-full flex items-center justify-between">
        <div class="flex items-center pt-1 pb-1 pl-2 pr-2 rounded-md bg-[#0000001a] dark:bg-[#ffffff28] text-[small] opacity-70 font-semibold text-colorText dark:text-colorTextDark"
            [ngClass]="filteredItem =='' ? 'invisible' : ''">
            <span>{{filteredItem}}: {{filterOrder}}</span>
            <div class="h-[18px] w-[2px] bg-[#0000004d] dark:bg-[#ffffffa6] ml-2 mr-2"></div>
            <span class="material-icons-outlined cursor-pointer text-base" (click)="filteredItem = ''">close</span>
        </div>
        <span class="text-end text-[small] font-semibold text-colorText dark:text-colorTextDark opacity-70">Total
            Items</span>
    </div>
    <div class="h-[500px] w-full">
        <div class="w-full grid gap-8 h-[70px] items-center border-solid border-t-[2px] border-[#0000001a] dark:border-[#ffffff34] text-colorText dark:text-colorTextDark pl-4 pr-4 font-semibold"
            [ngStyle]="{'grid-template-columns': 'min-content 65px 200px 100px 100px 100px 1fr 100px'}">
            <div class="h-[22px] w-[22px] rounded-md border-[2px] border-solid border-[#0000005d] dark:border-[#ffffffa6] cursor-pointer"
                [ngClass]="selectedIndex == 0 ? 'border-[0px] bg-primaryDark' : ''" (click)="selectItem(0)">
            </div>
            <div class="flex items-center justify-center">
            </div>
            <div class="cursor-pointer flex gap-1 items-center" (mouseenter)="hoveredColumn = 'Transaction'"
                (mouseleave)="hoveredColumn = null" (click)="changeFilterItem('Transaction')">
                <span class="opacity-80">Transaction</span>
                @if(hoveredColumn == 'Transaction') {
                @if(filteredItem == "Transaction" && filterOrder == "Descending") {
                <span class="material-icons text-xl">expand_less</span>
                } @else {
                <span class="material-icons text-xl">expand_more</span>
                }
                }
            </div>
            <div class="cursor-pointer flex gap-1 items-center" (mouseenter)="hoveredColumn = 'Category'"
                (mouseleave)="hoveredColumn = null" (click)="changeFilterItem('Category')">
                <span class="opacity-80">Category</span>
                @if(hoveredColumn == 'Category') {
                @if(filteredItem == "Category" && filterOrder == "Descending") {
                <span class="material-icons text-xl">expand_less</span>
                } @else {
                <span class="material-icons text-xl">expand_more</span>
                }
                }
            </div>
            <div class="cursor-pointer flex gap-1 items-center" (mouseenter)="hoveredColumn = 'Type'"
                (mouseleave)="hoveredColumn = null" (click)="changeFilterItem('Type')">
                <span class="opacity-80">Type</span>
                @if(hoveredColumn == 'Type') {
                @if(filteredItem == "Type" && filterOrder == "Descending") {
                <span class="material-icons text-xl">expand_less</span>
                } @else {
                <span class="material-icons text-xl">expand_more</span>
                }
                }
            </div>
            <div class="cursor-pointer flex gap-1 items-center" (mouseenter)="hoveredColumn = 'Value'"
                (mouseleave)="hoveredColumn = null" (click)="changeFilterItem('Value')">
                <span class="opacity-80">Value</span>
                @if(hoveredColumn == 'Value') {
                @if(filteredItem == "Value" && filterOrder == "Descending") {
                <span class="material-icons text-xl">expand_less</span>
                } @else {
                <span class="material-icons text-xl">expand_more</span>
                }
                }
            </div>
            <div class="cursor-pointer flex gap-1 items-center" (mouseenter)="hoveredColumn = 'Description'"
                (mouseleave)="hoveredColumn = null" (click)="changeFilterItem('Description')">
                <span class="opacity-80">Description</span>
                @if(hoveredColumn == 'Description') {
                @if(filteredItem == "Description" && filterOrder == "Descending") {
                <span class="material-icons text-xl">expand_less</span>
                } @else {
                <span class="material-icons text-xl">expand_more</span>
                }
                }
            </div>
            <div class="flex justify-evenly">
                <!--  <div class="flex w-[130px] h-[50px] gap-1 items-center justify-center bg-colorError dark:bg-colorError rounded-md cursor-pointer hover:brightness-90 text-colorSurface duration-300"
                    (click)="deleteItems()">
                    <span class="text-inherit font-semibold  text-[.9rem]">Delete</span>
                </div> -->
            </div>
        </div>
        <div class="flex flex-col">
            <!-- @for (item of items; track $index) {} -->
            <div class="w-full grid gap-8 items-center border-solid border-t-[2px] border-[#0000001a] dark:border-[#ffffff34] text-colorText dark:text-colorTextDark pl-4 pr-4 pt-5 pb-5 font-semibold opacity-80"
                [ngStyle]="{'grid-template-columns': 'min-content 65px 200px 100px 100px 100px 1fr 100px'}">
                <div class="h-[22px] w-[22px] rounded-md border-[2px] border-solid border-[#0000005d] dark:border-[#ffffffa6] cursor-pointer"
                    [ngClass]="selectedIndex == 1 ? 'border-[0px] bg-primaryDark' : ''" (click)="selectItem(1)">
                </div>
                <div class="flex items-center justify-center">
                    <img src="profile.png" class="w-[65px] h-[65px] object-cover rounded-full">
                </div>
                <span>Transaction</span>
                <span>Category</span>
                <span>Type</span>
                <span>Value</span>
                <span class="">Description</span>
                <div class="flex justify-evenly">
                    <div
                        class="w-[25px] h-[25px] flex justify-center items-center rounded-md bg-[#00000054] dark:bg-[#fdfdfd44] cursor-pointer duration-100 hover:bg-[#00000065] dark:hover:bg-[#fdfdfd56]">
                        <span class="material-icons text-xl opacity-100 text-[#000000] dark:text-[#FFFFFF]">edit</span>
                    </div>
                    <div
                        class="w-[25px] h-[25px] flex justify-center items-center rounded-md bg-[#00000054] dark:bg-[#fdfdfd44] cursor-pointer duration-100 hover:bg-[#00000065] dark:hover:bg-[#fdfdfd56] ">
                        <span
                            class="material-icons-outlined text-xl opacity-100 text-[#000000] dark:text-[#FFFFFF]">remove</span>
                    </div>
                </div>
            </div>
            <div class="w-full grid gap-8 items-center border-solid border-t-[2px] border-[#0000001a] dark:border-[#ffffff34] text-colorText dark:text-colorTextDark pl-4 pr-4 pt-5 pb-5 font-semibold opacity-80"
                [ngStyle]="{'grid-template-columns': 'min-content 65px 200px 100px 100px 100px 1fr 100px'}">
                <div class="h-[22px] w-[22px] rounded-md border-[2px] border-solid border-[#0000005d] dark:border-[#ffffffa6] cursor-pointer"
                    [ngClass]="selectedIndex == 1 ? 'border-[0px] bg-primaryDark' : ''" (click)="selectItem(1)">
                </div>
                <div class="flex items-center justify-center">
                    <img src="profile.png" class="w-[65px] h-[65px] object-cover rounded-full">
                </div>
                <span>Transaction</span>
                <span>Category</span>
                <span>Type</span>
                <span>Value</span>
                <span class="">Description</span>
                <div class="flex justify-evenly">
                    <div
                        class="w-[25px] h-[25px] flex justify-center items-center rounded-md bg-[#00000054] dark:bg-[#fdfdfd44] cursor-pointer duration-100 hover:bg-[#00000065] dark:hover:bg-[#fdfdfd56]">
                        <span class="material-icons text-xl opacity-100 text-[#000000] dark:text-[#FFFFFF]">edit</span>
                    </div>
                    <div
                        class="w-[25px] h-[25px] flex justify-center items-center rounded-md bg-[#00000054] dark:bg-[#fdfdfd44] cursor-pointer duration-100 hover:bg-[#00000065] dark:hover:bg-[#fdfdfd56] ">
                        <span
                            class="material-icons-outlined text-xl opacity-100 text-[#000000] dark:text-[#FFFFFF]">remove</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>