<div
    class="flex justify-between items-center w-full h-[120px] dark:shadow-boxDark shadow-box rounded-md dark:bg-colorSurfaceDark bg-colorSurface pl-6 pr-6 sm:pl-8 sm:pr-8 text-colorText dark:text-colorTextDark">
    <div class="rounded-md w-[56px] h-[56px] flex justify-center items-center"
        [ngClass]="imgColor == 'primaryDark' ? 'bg-primaryDark' : imgColor == 'green' ? 'bg-colorSuccess ' : imgColor == 'red' ? 'bg-colorError' : imgColor == 'primary' ? 'bg-primary' : ''">
        <span class=" material-icons-outlined text-colorSurface text-4xl">{{img}}</span>
    </div>
    <div class="flex flex-col justify-center gap-1 text-end">
        <h3 class="font-bold text-2xl">${{value.toFixed(2)}}</h3>
        <span class="text-[14.4px] opacity-60">{{text}}</span>
    </div>
</div>