<nav
    class="w-full h-[70px] bg-colorSurface dark:bg-colorSurfaceDark flex border-b-[2px] border-[#00000011] dark:border-[#FFFFFF11] border-solid items-center justify-end px-4 mr-4">
    <div class="flex gap-4 items-center">
        @if(theme == 'light') {
        <span
            class="material-icons-outlined text-colorText dark:text-colorTextDark text-[20px] self-start mt-[7px] hover:cursor-pointer"
            (click)="handleThemeChange('dark')">
            light_mode </span>
        } @else {
        <span
            class="material-icons-outlined text-colorText dark:text-colorTextDark text-[22px] self-start mt-[6px]  hover:cursor-pointer"
            (click)="handleThemeChange('light')">
            dark_mode </span>
        }
        <div class="relative hover:cursor-pointer mr-2">
            <div (click)="handleShowNotificationsDropdown()">
                <span class="material-icons text-colorText dark:text-colorTextDark text-[20px]">notifications</span>
                <div class="absolute bg-primary rounded-full w-[8px] h-[8px] top-0 right-[3px]"></div>
            </div>
            <span
                class="material-icons text-colorBg dark:text-colorBgDark text-[40px] absolute top-[22px] right-[-8px]  duration-300"
                [ngClass]="[isNotificationDropdownHovering ? 'text-primaryDark' : '', isShowNotificationDropdownOpen ? 'opacity-100 pointer-events-auto' : 'opacity-0 pointer-events-none']">arrow_drop_up</span>
            <div class="absolute top-[45px] right-[-8px] flex flex-col bg-colorBg dark:bg-colorBgDark w-[250px] h-[300px] rounded-md shadow-custom dark:shadow-customDark transition-opacity duration-350"
                id="notificationDropdown" #notificationDropdown
                [ngClass]="isShowNotificationDropdownOpen ? 'opacity-100 pointer-events-auto' : 'opacity-0 pointer-events-none'">
                <span></span>
            </div>
        </div>
        <div class="relative flex gap-3 items-center">
            <div class="flex gap-3 items-center hover:cursor-pointer" (click)="handleShowProfileDropdown()">
                <div class="w-[40px] h-[40px]">
                    <img src="profile.png" alt="profile" class="rounded-full w-full h-full object-contain">
                </div>
                <span class="text-[14px] font-semibold text-colorText dark:text-colorTextDark">Alan Tomaz</span>
                <span class="material-icons-outlined text-colorText dark:text-colorTextDark text-[20px] duration-300"
                    [ngClass]="isShowProfileDropdownOpen == true ? 'rotate-[-180deg]' : ''">keyboard_arrow_down</span>
            </div>
            <span
                class="material-icons text-colorBg dark:text-colorBgDark text-[40px] absolute top-[32px] right-[-8px]  duration-300"
                [ngClass]="[isEditProfileHovering ? 'text-primaryDark dark:text-primaryDark' : '', isShowProfileDropdownOpen ? 'opacity-100 pointer-events-auto' : 'opacity-0 pointer-events-none']">arrow_drop_up</span>
            <div class="absolute top-[54px] right-[-8px] flex flex-col bg-colorBg text-colorText dark:text-colorTextDark dark:bg-colorBgDark w-[130px] rounded-md dark:shadow-customDark shadow-custom transition-opacity duration-350"
                id="profileDropdown" #profileDropdown
                [ngClass]="isShowProfileDropdownOpen ? 'opacity-100 pointer-events-auto' : 'opacity-0 pointer-events-none'">
                <span
                    class="text-center w-full hover:cursor-pointer hover:bg-primaryDark hover:text-colorSurface duration-300 pt-3 pb-3 rounded-t-md border-b-[1px] dark:border-[#FFFFFF11] border-[#00000011] border-solid"
                    (mouseenter)="isEditProfileHovering = true" (mouseleave)="isEditProfileHovering = false"
                    (click)="isShowProfileDropdownOpen = false">Edit
                    Profile</span>
                <span
                    class="text-center w-full hover:cursor-pointer hover:bg-colorError hover:text-colorSurface duration-300 pt-3 pb-3 rounded-b-md"
                    (click)="isShowProfileDropdownOpen = false">Logout</span>
            </div>
        </div>
    </div>
</nav>
<div class="w-full h-[40px] bg-colorSurface dark:bg-colorSurfaceDark flex items-center gap-2 pl-4">
    <span class="material-icons-outlined text-colorText dark:text-colorTextDark text-2xl">{{navbarOption == "Dashboard"
        ? "dashboard" :
        navbarOption == "Earnings" ? "payments"
        :navbarOption == "Payments" ? "credit_card" : navbarOption == "Categories" ? "sell" : navbarOption == "Users" ?
        "manage_accounts" : navbarOption == "Logs" ?
        "manage_accounts" : 'dashboard'}}</span>
    <span class="font-semibold text-colorText dark:text-colorTextDark">{{navbarOption}}</span>
</div>