<nav
    class="w-full h-[70px] bg-colorSurface flex border-b-[2px] border-[#00000011] border-solid items-center justify-end px-4 mr-4">
    <div class="flex gap-6 items-center">
        <div class="relative hover:cursor-pointer">
            <span class="material-icons text-colorText text-[20px]">notifications</span>
            <div class="absolute bg-primary rounded-full w-[8px] h-[8px] top-0 right-[3px]"></div>
        </div>
        <div class="flex gap-3 items-center hover:cursor-pointer">
            <div class="w-[40px] h-[40px]">
                <img src="profile.png" alt="profile" class="rounded-full w-full h-full object-contain">
            </div>
            <span class="text-[14px] font-semibold">Alan Tomaz</span>
            <span class="material-icons-outlined text-colorText text-[20px]">keyboard_arrow_up</span>
        </div>
    </div>
</nav>
<div class="w-full h-[40px] bg-colorSurface flex items-center gap-2 ml-4">
    <span class="material-icons-outlined text-colorText text-2xl">dashboard</span>
    <span class="font-semibold">Dashboard</span>
</div>