<aside class="w-[300px] transition-[width] ease duration-1000 h-full bg-primary flex flex-col"
    [ngClass]="sidebarOpenStatus ? `w-[300px]` : `w-[80px]`">
    <div id="logo" class="flex flex-row items-center h-[50px] w-full gap-5 ml-4 mt-4 mb-10 hover:cursor-pointer"
        (click)="toggleSidebar()">
        <img src="findash.png" alt="findash" class="w-auto h-[50px]" />
        <h2 class="text-colorSurface text-4xl font-bold transition-opacity duration-300"
            [ngClass]="sidebarOpenStatus ? 'opacity-100' : 'opacity-0'">
            FinDash</h2>
    </div>
    <div id="siderbar-content">
        <div id="siderbar-content-1"
            class="flex text-normal h-[64px] gap-5 font-medium text-colorSurface hover:cursor-pointer hover:bg-primaryDark transition-colors duration-100">
            <div class="flex h-full w-[5px] bg-colorSurface"></div>
            <div class="flex gap-3 items-center">
                <span class="material-icons-outlined text-colorSurface text-2xl">dashboard</span>
                <span>Dashboard</span>
            </div>
        </div>
        <div id="siderbar-content-2"
            class="flex text-normal h-[64px] gap-5 font-medium text-colorSurface hover:cursor-pointer hover:bg-primaryDark transition-colors duration-100">
            <div class="flex h-full w-[5px] bg-colorSurface invisible"></div>
            <div class="flex gap-3 items-center">
                <span class="material-icons-outlined text-colorSurface text-2xl">payments</span>
                <span>Earnings</span>
            </div>
        </div>
        <div id="siderbar-content-3"
            class="flex text-normal h-[64px] gap-5 font-medium text-colorSurface hover:cursor-pointer hover:bg-primaryDark transition-colors duration-100">
            <div class="flex h-full w-[5px] bg-colorSurface invisible"></div>
            <div class="flex gap-3 items-center">
                <span class="material-icons-outlined text-colorSurface text-2xl">credit_card</span>
                <span>Payments</span>
            </div>
        </div>
        <div id="siderbar-content-4"
            class="flex text-normal h-[64px] gap-5 font-medium text-colorSurface hover:cursor-pointer hover:bg-primaryDark transition-colors duration-100">
            <div class="flex h-full w-[5px] bg-colorSurface invisible"></div>
            <div class="flex gap-3 items-center">
                <span class="material-icons-outlined text-colorSurface text-2xl">sell</span>
                <span>Categories</span>
            </div>
        </div>
        <div id="siderbar-content-5"
            class="flex text-normal h-[64px] gap-5 font-medium text-colorSurface hover:cursor-pointer hover:bg-primaryDark transition-colors duration-100">
            <div class="flex h-full w-[5px] bg-colorSurface invisible"></div>
            <div class="flex gap-3 items-center">
                <span class="material-icons-outlined text-colorSurface text-2xl">manage_accounts</span>
                <span>Admin</span>
            </div>
        </div>
    </div>
    <div class="mb-4 mt-auto text-center">
        <span class="text-colorSurface text-[small]">Created By <a href="https://github.com/Alan-Tomaz"
                class="hover:underline">Alan
                Tomaz</a>.</span>
    </div>
</aside>