<aside class="w-[300px] h-full bg-primary flex flex-col">
    <div id="logo" class="flex flex-row items-center h-[50px] w-full gap-5 ml-4 mt-4 mb-10 hover:cursor-pointer">
        <img src="findash.png" alt="findash" class="w-auto h-[50px]" />
        <h2 class="text-colorSurface text-4xl font-bold">FinDash</h2>
    </div>
    <div id="siderbar-content">
        <div id="siderbar-content-1"
            class="flex gap-3 items-center text-normal font-medium text-colorSurface hover:cursor-pointer p-4">
            <span class="material-icons-outlined text-colorSurface text-2xl">dashboard</span>
            <span>Dashboard</span>
        </div>
        <div id="siderbar-content-2"
            class="flex gap-2 items-center text-subtitle font-medium text-colorSurface hover:cursor-pointer p-4">
            <span class="material-icons-outlined text-colorSurface text-2xl">payments</span>
            <span>Earnings</span>
        </div>
        <div id="siderbar-content-3"
            class="flex gap-2 items-center text-subtitle font-medium text-colorSurface hover:cursor-pointer p-4">
            <span class="material-icons-outlined text-colorSurface text-2xl">credit_card</span>
            <span>Payments</span>
        </div>
        <div id="siderbar-content-4"
            class="flex gap-2 items-center text-subtitle font-medium text-colorSurface hover:cursor-pointer p-4">
            <span class="material-icons-outlined text-colorSurface text-2xl">sell</span>
            <span>Categories</span>
        </div>
        <div id="siderbar-content-5"
            class="flex gap-2 items-center text-subtitle font-medium text-colorSurface hover:cursor-pointer p-4">
            <span class="material-icons-outlined text-colorSurface text-2xl">manage_accounts</span>
            <span>Admin</span>
        </div>
    </div>
</aside>